<h1>New task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :detail %>
  <%= f.text_field :detail %>
  <%= f.submit %>
<% end %>

<%= link_to "back to list", tasks_path %>
